@import '../variables';

header {
    position: relative;
    z-index: 1;
    padding-bottom: 56%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    section {
        position: absolute;
        top: 45%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
    }

    h1 {
        text-shadow: 2px 2px 8px $dark-grey;
        color: $yellow;
        font-size: 60px;
    }

    a {
        display: inline-block;
        transition: transform .5s;
        margin: 10px;
        vertical-align: top;

        &.web-app {
            border-radius: 20px;
            box-shadow: 2px 2px 8px $dark-grey;
            background-color: $yellow;
            padding: 8px 20px;
            text-decoration: none;
            white-space: nowrap;
            color: $dark-grey;
        }

        &:hover {
            transform: scale3d(1.1, 1.1, 1);
        }

        img {
            height: 40px;
        }
    }
}
